@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300;400;500;600;700;800&display=swap');

:root{
    /*------color------*/
    --darkest-green: #0D5B11;
    --normal-green: #A6ECA8;
    --light-green: #D2FDBB;
    --light-yellow: #FBFDE1;
    --normal-yellow: #FDFD97;

    /*-------font-------*/
    --eng-font: 'Maven Pro', sans-serif;
    --jap-font: 'M PLUS Rounded 1c', sans-serif;
    --thai-font: 'Sarabun', sans-serif;
}
html{
    width: 100%;
    height: 100%;
    background-color: var(--light-green);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}
.question{
    text-align: center;
}
.question-text{
    font-family: var(--eng-font);
    color: var(--darkest-green);
    font-size: 1.5rem;
}
.question-real{
    font-family: var(--jap-font);
    color: var(--darkest-green);
    font-size: 1.5rem;
}
.answer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.answer-text{
    border: none;
    background-color: var(--light-yellow);
    width: 10rem;
    height: 2rem;
    font-size: 1.5rem;
}
.enter-answer{
    width: 7rem;
    height: 2rem;
    font-family: var(--eng-font);
    font-weight: 400;
    border: none;
    background-color: var(--darkest-green);
    color: white;
}
.enter-answer:hover{
    background-color: var(--normal-yellow);
    color: var(--darkest-green);
}

@media  screen and (min-width: 720px) {
    .question-text{
        font-size: 3rem;
    }
    .question-real{
        font-size: 3rem;
    }
    .answer-text{
        width: 20rem;
        height: 3.5rem;
        font-size: 2rem;
    }
    .enter-answer{
        width: 10rem;
        height: 3rem;
        font-size: 1.5rem;
    }

}